/* general setup */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
}

body {
  background-color: #ffdc33;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* top navbar */
.navbar {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  gap: 15px;
}

.navbar .logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.navbar .logo img {
  height: 32px;
  width: 32px;
}

.navbar .biterush-title {
  font-weight: bold;
  font-size: 18.5px;
}

.page-title {
  color: #555555;
  font-size: 15.85px;
}

.main {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-around;
  padding: 40px 20px;
}

.brand-section {
  text-align: center;
  font-size: 20px;
  margin-top: 0;
}

.burger-mascot {
  display: block;
  width: 230px;
  margin-bottom: -15px;
}

.biterush-center {
  font-size: 52px;
  font-weight: 900;
}

.brand-section p {
  font-size: 20px;
}

.login-box {
  background-color: #f7f8ff;
  border-radius: 6px;
  padding: 35px;
  width: 100%;
  max-width: 420px;
}

h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
